.vscode/
.vs/
Develop/Meli.DataAccess.Sql/.DS_Store
Develop/*/bin/
Develop/*/obj/
Develop/*/obj/*
Develop/*/bin/Debug/
Develop/Meli.Host.Api/bin/Debug/net6.0/appsettings.json
Develop/Meli.Host.Api/bin/Debug/net6.0/Meli.DataAccess.dll
Develop/Meli.Host.Api/bin/Debug/net6.0/Meli.DataAccess.pdb
Develop/Meli.Host.Api/bin/Debug/net6.0/Meli.Entities.dll
Develop/Meli.Host.Api/bin/Debug/net6.0/Meli.Entities.pdb
Develop/Meli.Host.Api/bin/Debug/net6.0/Meli.Host.Api.deps.json
Develop/Meli.Host.Api/bin/Debug/net6.0/Meli.Host.Api.dll
Develop/Meli.Host.Api/bin/Debug/net6.0/Meli.Host.Api.pdb
Develop/Meli.Host.Api/bin/Debug/net6.0/Meli.Processor.dll
Develop/Meli.Host.Api/bin/Debug/net6.0/Meli.Processor.pdb
Develop/Test/Unit/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Develop/Test/Unit/obj/Debug/net6.0/Unit.AssemblyInfo.cs
Develop/Test/Unit/obj/Debug/net6.0/Unit.AssemblyInfoInputs.cache
Develop/Test/Unit/obj/Debug/net6.0/Unit.csproj.AssemblyReference.cache
Develop/Test/Unit/obj/Debug/net6.0/Unit.GeneratedMSBuildEditorConfig.editorconfig
Develop/Test/Unit/obj/Debug/net6.0/Unit.GlobalUsings.g.cs
