.vscode/
.vs/
Develop/Meli.DataAccess.Sql/.DS_Store
Develop/*/bin/
Develop/*/obj/
Develop/*/obj/*
Develop/*/bin/Debug/
Develop/Meli.Host.Api/bin/
Develop/Test/UnitTest/bin/
Develop/Test/UnitTest/obj/
Develop/Test/.DS_Store
.DS_Store
