.vs/MeliChallenge/xs/UserPrefs.xml
.vs/MeliChallenge/xs/project-cache/Meli.DataAccess-Debug.json
.vs/MeliChallenge/xs/project-cache/Meli.DataAccess.Sql-Debug.json
.vs/MeliChallenge/xs/project-cache/Meli.Entities-Debug.json
.vs/MeliChallenge/xs/project-cache/Meli.Host.Api-Debug.json
.vs/MeliChallenge/xs/project-cache/Meli.Processor-Debug.json
.vs/MeliChallenge/xs/project-cache/Meli.Proxies-Debug.json
.vs/MeliChallenge/xs/project-cache/Meli.Proxies2-Debug.json
.vs/MeliChallenge/xs/project-cache/Unit-Debug.json
Develop/.DS_Store
.DS_Store
Develop/Meli.DataAccess/bin/
Develop/Meli.DataAccess/obj/
Develop/Meli.DataAccess.Sql/bin/
Develop/Meli.DataAccess.Sql/obj/
Develop/Meli.Entities/bin/
Develop/Meli.Entities/obj/
Develop/Meli.Host.Api/bin/
Develop/Meli.Host.Api/obj/
Develop/Meli.Processor/bin/
Develop/Meli.Processor/obj/
Develop/Proxies/bin/
Develop/Proxies/obj/
